server:
  port: 8083

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/deployment_db
    username: flowguard
    password: flowguard
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: none
    open-in-view: false

  flyway:
    enabled: true

management:
  endpoints:
    web:
      exposure:
        include: health
  endpoint:
    health:
      probes:
        enabled: true
