spring:
  application:
    name: change-service

  profiles:
    active: local

management:
  endpoints:
    web:
      exposure:
        include: health

  endpoint:
    health:
      probes:
        enabled: true

service-registry:
  base-url: http://localhost:8081
