server:
  port: 8080

management:
  endpoints:
    web:
      exposure:
        include: health
  endpoint:
    health:
      probes:
        enabled: true

spring:
  cloud:
    gateway:
      routes:

        - id: service-registry
          uri: http://localhost:8081
          predicates:
            - Path=/services/**

        - id: change-service
          uri: http://localhost:8082
          predicates:
            - Path=/changes/**

        - id: deployment-service
          uri: http://localhost:8083
          predicates:
            - Path=/deployments/**

        - id: approval-service
          uri: http://localhost:8084
          predicates:
            - Path=/approvals/**
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: ${JWT_ISSUER_URI:http://localhost:9000}
