spring:
  application:
    name: service-registry-service

server:
  port: 8081

management:
  endpoints:
    web:
      exposure:
        include: health, readiness
  endpoint:
    health:
      probes:
        enabled: true
